.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item {
  padding: 5px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 5px 5px 5px gray;
  font-size: 20px;
}

.name {
  font-weight: 500;
}
